* {
    box-sizing: border-box;
}

:root {
    --primary: #fcf824;
    --secondary:#f1f1ec;
    --black: #1f1e1e;
    --white:#ffffff;
    --width-break:600px;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--secondary);
}

/*Nav Bar */
nav {
    background-color: var(--primary);
}

.nav .active-link {
    color: rgb(216, 55, 55);
}
.nav .brand {
    font-weight: bolder;
    color: var(--black);
}
.nav li {
    display: inline;
    margin-left: 5px;
}

main{
    padding-left: 2rem;
    padding-right: 2rem;
}

textarea{
    box-sizing: border-box;
    display: block;
    width:100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;
}

.btn-primary{
    border: none;
    padding: 0.5rem 0.5rem;
    border-radius: 15px;
    margin: 1rem 0rem;
    font-size: large;
    background-color: var(--primary);
}

#tt-output{
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;
    overflow: scroll;
    border: 1px solid var(--black);
    background-color: var(--white);
}

footer {
    text-align: center;
}

footer li {
    list-style: none;
    padding: 0.5rem;
    display: inline;
    color: var(--secondary-dark);
}


footer p,a{    
    position: left;   
}